@import '../../variables';

.category {
  //min-height: 100px;
}

.category__title {
  color: $third;
}

.category__container {
  width: 100%;
}

.category__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.category__header {
  margin-bottom: 1rem;
  align-items: center;
}
